

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.titre{
    border: solid 1px rgb(247, 247, 248);
    width: 150px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 10px;
}

.nav{
    border: solid 1px rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    display: flex;
}

.splide__slide img{
    width: 100%;
    transition: width 2s ease;
}

.splide__slide img:hover{
    width: 102%;
}

.truc_accueil{
    margin-right: 90px;
    display: inline-block;
    letter-spacing: 5px;
    text-decoration: none;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    transition: transform 1.25s ease,
        letter-spacing 4s ease;
}

.truc_accueil:hover{
    transform: scale(1.5);
    letter-spacing: 4px;
}

.recherche{
    width: 20px;
    height: 25px;
    margin-right: 20px;
}


.billete{
    background-color: orange;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: #FFFFFF;
}

.expo_air_du_temps {
    color: #232222;
    background-color: #D9D9D9;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 2px;
    position:relative;
    padding-top: 100px;
    padding-bottom: 100px;
} 

.imageAirDuTemps{
    height: 500px;
}

.imageAirDuTemps img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.expo_o_candalebro {
    color: #FFFFFF;
    background-color: #232222;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 2px;
    position:relative;
    padding-top: 100px;
    padding-bottom: 100px;
}

.ans_histoire {
    color: #232222;
    background-color: #D9D9D9;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 2px;
    position:relative;
    padding-top: 100px;
    padding-bottom: 100px;
}

.imageAnsHistoire {
    height: 500px;
}

.imageAnsHistoire img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.expo_virtuelle {
    color: #FFFFFF;
    background-color: #232222;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 2px;
    position:relative;
    padding-top: 100px;
    padding-bottom: 100px;
}

.padding {
    padding-top: 100px;
}

.date {
    color: #6e6868;
}




/*--FOOTER--------------------------------------------------------------- */
.footer{
    background-color: white;
    margin-top: 40px;
}

.footerDroite{
    justify-content: space-around;
}

.footerGauche{
    justify-content: space-around;
}

.hautFooter{
    display: flex;
    justify-content: space-around;
    margin-top:50;
}

.titreInfo{
    display: flex;
    justify-content: space-between;
    margin-top:50;
    color: #000000;
    font-family: 'Lustria', serif;
    font-size: 24px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 5%;
    position:relative;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(204, 0, 255);
}

.footerInfo{
    background-color: rgb(115, 255, 0);
}

.titreActu{
    display: flex;
    justify-content: space-between;
    margin-top:50;
    color: #000000;
    font-family: 'Lustria', serif;
    font-size: 24px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 5%;
    position:relative;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(204, 0, 255);
}

.footerActu{
    background-color: rgb(115, 255, 0);
}

.titreSuivezNous{
    display: flex;
    justify-content: space-between;
    margin-top:50;
    color: #000000;
    font-family: 'Lustria', serif;
    font-size: 24px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 5%;
    position:relative;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(204, 0, 255);
    justify-content: center;
}

.reseauxSociaux{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    margin-bottom: 30%;
}

.footerSuivezNous{
    background-color: rgb(115, 255, 0);
}

.listeInfo{
    color: #000000;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    text-align: left;
    line-height: 1.5;
    letter-spacing: 5%;
    position:relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

.listeActu{
    color: #000000;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    text-align: left;
    line-height: 1.5;
    letter-spacing: 5%;
    position:relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

.separateurFooter1 {
    height: 500px;
    width: 3px;
    background-color: #141414;
}

.separateurFooter2 {
    height: 3px;
    width: 360px;
    background-color: #141414;
}

.adresseFooter{
    color: #000000;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    text-align: left;
    line-height: 1.5;
    letter-spacing: 5%;
    position:relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right:0px ;
    background-color: #75c0c6;
}

.planMentionContact{
    display: flex;
    flex-direction: column;

    color: #000000;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 5%;
    position:relative;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #75c0c6;

    
    justify-content: space-evenly;
    margin-top: 30%;
}

.langues{
    color: #000000;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 5%;
    position:relative;
    padding-top: 10px;
    padding-bottom: 10px;
}














/*________   ________   ________   ___  ___   _____ ______           ________   ________   ___  ___   ________   ________     
|\   ____\ |\   ____\ |\   __  \ |\  \|\  \ |\   _ \  _   \        |\   ____\ |\   __  \ |\  \|\  \ |\   __  \ |\   ___ \    
\ \  \___|_\ \  \___| \ \  \|\  \\ \  \\\  \\ \  \\\__\ \  \       \ \  \___|_\ \  \|\  \\ \  \\\  \\ \  \|\  \\ \  \_|\ \   
 \ \_____  \\ \  \     \ \   _  _\\ \  \\\  \\ \  \\|__| \  \       \ \_____  \\ \  \\\  \\ \  \\\  \\ \   __  \\ \  \ \\ \  
  \|____|\  \\ \  \____ \ \  \\  \|\ \  \\\  \\ \  \    \ \  \       \|____|\  \\ \  \\\  \\ \  \\\  \\ \  \ \  \\ \  \_\\ \ 
    ____\_\  \\ \_______\\ \__\\ _\ \ \_______\\ \__\    \ \__\        ____\_\  \\ \_____  \\ \_______\\ \__\ \__\\ \_______\
   |\_________\\|_______| \|__|\|__| \|_______| \|__|     \|__|       |\_________\\|___| \__\\|_______| \|__|\|__| \|_______|
   \|_________|                                                       \|_________|      \|__|                                
*/                                                                                                                     
                                                                                                                             